opencv-python
numpy
defusedxml
ipython
PySide6
pillow
jupyter
jupyterlab_pygments
pip
attrs
wheel
charset-normalizer
Cython
setuptools
pytz
cffi
Jinja2
packaging
shiboken6
platformdirs
Pygments
psutil
traitlets
jupyter_core